@import "./var";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body{
    font-family: "lato", sans-serif;
    -webkit-font-smoothing: antialiased;
     color: $dark;
     
}
nav li a {
    transition: $smooth;
    &:hover{
        color: $primary;
    }   
}

section.main {
    background: $secondary;
}

.size{
    background: $secondary;
}
.add-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}
.btnOrder{
    background: $primary;
    transition: $smooth;
    
}

.cart{
    background: $secondary;
    .totalPrice{
        color: $primary;
    }
}

section.login {
    background: $secondary;
     //doing it this way because it was using full height of page.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}

.noty_theme_mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}

a.link {
    color: $primary;
}